<body>
  <!-- Navigation Bar-->
  <header id="topnav">

    <div class="topbar-menu active">
      <div class="container-fluid in">
        <div id="navigation" class="active">
          <!-- Navigation Menu-->
          <ul class="navigation-menu in">
            <li class="nav-item active">
              <a href="0" class="active bg-blue font-weight-bolder nav-link px-4">ATS </a>
            </li>
            <!-- <li class="nav-item">
                            <a href="/admin/investments" class="nav-link">Investments</a>
                        </li> -->
            <li class="nav-item">
              <a href="0" class="nav-link">Animal Details </a>
            </li>

            <li class="last-elements">
              <a href="0">Contact Queries</a>
            </li>
          </ul>
          <ul  class="bg-danger float-right font-weight-bold in navigation-menu px-2 ">
            <li class="last-elements ml-2">
              <a href="0">Logout</a>
            </li>
          </ul>
          <!-- End navigation menu -->
          <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
      </div>
      <!-- end container -->
    </div>
    <!-- end navbar-custom -->
  </header>
  <!-- End Navigation Bar-->
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->
  <div class="wrapper">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="card-box-tranparent">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle border card-box">
                  <div class="row">
                    <div class="col-3">
                      <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                        <i class="icofont-users-alt-4 font-22 avatar-title text-primary"></i>
                      </div>
                    </div>
                    <div class="col-9 col-9">
                      <div class="text-right">
                        <p class="mb-1 text-truncate font-16 font-weight-bold text-secondary">Animal information</p>
                        <h3 class="text-dark mt-1 mb-1"><span data-plugin="counterup">1</span></h3>
                        <!-- <p class="text-muted mb-1 text-truncate"> Investors</p> -->
                      </div>
                    </div>
                  </div>
                  <!-- end row-->
                </div>
                <!-- end widget-rounded-circle-->
              </div>
              <!-- end col-->
              <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle border card-box">
                  <div class="row">
                    <div class="col-3">
                      <div class="avatar-lg rounded-circle bg-soft-info border-info border">
                        <i class="icofont-briefcase font-22 avatar-title text-info"></i>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="text-right">
                        <p class="mb-1 text-truncate font-16 font-weight-bold text-secondary">Animal information</p>
                        <h3 class="text-info mt-1 mb-1"><span data-plugin="counterup">5</span></h3>
                        <!-- <p class="text-muted mb-1 text-truncate">$2,429 Average</p> -->
                      </div>
                    </div>
                  </div>
                  <!-- end row-->
                </div>
                <!-- end widget-rounded-circle-->
              </div>
              <div class="col-md-6 col-xl-3 ">
                <div class="widget-rounded-circle border card-box">
                  <div class="row">
                    <div class="col-3">
                      <div class="avatar-lg rounded-circle bg-soft-success border-success border">
                        <i class="icofont-database font-22 avatar-title text-success"></i>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="text-right">
                        <p class="mb-1 text-truncate font-16 font-weight-bold text-secondary">Animal information</p>
                        <h3 class="text-success mt-1 mb-1">AED&nbsp;<span data-plugin="counterup">1100000</span></h3>
                        <!-- <p class="text-muted mb-1 text-truncate">2 Loans</p> -->
                      </div>
                    </div>
                  </div>
                  <!-- end row-->
                </div>
                <!-- end widget-rounded-circle-->
              </div>
              <!-- end col-->
              <!-- end col-->
              <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle border card-box">
                  <div class="row">
                    <div class="col-3">
                      <div class="avatar-lg rounded-circle bg-soft-warning border-warning border">
                        <i class="icofont-database font-22 avatar-title text-warning"></i>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="text-right">
                        <p class="mb-1 text-truncate font-16 font-weight-bold text-secondary">Animal information</p>
                        <h3 class="text-warning mt-1 mb-1">AED&nbsp;<span data-plugin="counterup">6000</span></h3>
                        <!-- <p class="text-muted mb-1 text-truncate">3 Payments</p> -->
                      </div>
                    </div>
                  </div>
                  <!-- end row-->
                </div>
                <!-- end widget-rounded-circle-->
              </div>
              <!-- end col-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="card-header border">
            <h4 class="card-title mb-0">Animal Group Requiring Action</h4>
          </div>
          <div class="card-box card-body border">
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-centered m-0">
                <thead class="thead-light">
                  <tr>
                    <th>Date</th>
                    <th>Animal Group</th>
                    <th>Animal ID</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="card-header border">
            <h4 class="card-title mb-0">Animal group view</h4>
          </div>
          <div class="card card-body border">
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-centered m-0">
                <thead class="thead-light">
                  <tr>
                    <th>Date</th>
                    <th>Animal Group</th>
                    <th>Animal ID</th>
                    <th>Status</th>
                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      2020-02-03
                    </td>
                    <td>
                      <h5 class="m-0 font-weight-normal">

                        AB-1010230
                      </h5>
                    </td>
                    <td>
                      AED&nbsp;100000
                    </td>
                    <td>
                      <span class="badge bg-soft-primary text-primary shadow-none">

                        5&nbsp;%

                      </span>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      2020-02-03
                    </td>
                    <td>
                      <h5 class="m-0 font-weight-normal">

                        AB-1010230
                      </h5>
                      <!-- <p class="mb-0">#28428767</p> -->
                    </td>
                    <td>
                      AED&nbsp;1000000
                    </td>
                    <td>
                      <span class="badge bg-soft-primary text-primary shadow-none">

                        5&nbsp;%

                      </span>
                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              2020 © <a href="">Animal Tracking System - ATS</a> All right reserved.
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->
      <!-- Right bar overlay-->
      <div class="rightbar-overlay"></div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->
    </div>
    <!-- end wrapper -->
  </div>
  <!-- end wrapper -->


</body>
